@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@font-face {
    font-family: 'Bebas';
    src: url('fonts/BEBAS___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: #2c3338;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
    /* background-image: url(../img/bg.jpg); */
    background-size: cover;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#music_festival::after {
    content: '';
    display: block;
    clear: both;
}

.clrfix {
    display: block;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #d3d6ca;
    letter-spacing: 0.1em;
    font-family: 'Bebas', 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
    background-color: rgb(65, 182, 151);
    color: white;
    line-height: 1;
    padding: 5px 10px 8px 10px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.error {
    color: rgb(65, 182, 151);
    ;
    line-height: 1.5;
    margin-bottom: 5px;
    /*  font-weight: bold; */
}

input {
    width: 100%;
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

#music_festival {
    margin: 20px auto;
    width: 100%;
}

#music_festival form {
    margin: 20px auto;
    padding: 22px 22px 22px 22px;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

#music_festival form span {
    display: block;
    margin-left: 25px;
    font-size: 0.9em;
    font-style: italic;
}

#music_festival form input,
#music_festival form select {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    height: 50px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

#music_festival form select {
    font-size: 1.1em;
    letter-spacing: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#music_festival form input[type="button"] {
    background: rgb(65, 182, 151);
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#music_festival form input[type="button"]:hover {
    background: #318b72;
}

.info {
    color: white;
    letter-spacing: 1px;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: bold;
}

footer {
    margin: 50px 0 0 0;
    padding: 25px 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #282e33;
    border-top: 3px solid #434a52;
    background-image: url(../img/airplane.png);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #75C6B4;
    text-decoration: none;
}

#band,
#program,
#createFestival #createProgram {
    width: 48%;
}

#band,
#createFestival,
#createProgram,
#createBand {
    float: left;
}

#program {
    float: right;
}

#music_festival form select {
    display: block;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 530px;
    }

    #band,
    #program,
    #createFestival,
    #createProgram {
        float: none;
        clear: both;
        display: block;
        width: 80%;
    }
}

@media screen and (max-width: 552px) {
    .container {
        width: 100%;
    }

    #band,
    #program,
    #createFestival,
    #createProgram {
        float: none;
        clear: both;
        display: block;
        width: 80%;
    }
}

#festival {
    display: inline-block;
    margin-top: 2em;
    margin-left: 5em;
}

fieldset {
    border: 0px solid gray;

}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(65, 182, 151);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}